
html {
    scroll-behavior: smooth;
  }

$font: 'Poppins', sans-serif;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semiBold: 600;
$f-bold: 700;

$blue:#004165;
$bluelight:#19A4C1;
$orange: #FFA100;
$white: #ffffff;
$cinza: #f1f1f1;
$grey: #BCBCBC;
$dark-grey: #7F7F7F;
$green-light:#689E16;
$orange-light:#F17844;
$blue-light:#3185B1;
$yellow:#B5EA66;

.asset-certisign {

    *{
        font-family: $font;
    }

    .new-template {
        .container-fluid {
            max-width: 100% !important;
            overflow: hidden !important;
            padding: 0;

            &.banner {
                height: 465px;
                padding: 0;
                margin: 0;
                background-color: red !important;
    
                .container {
                    margin: 0;
                    padding: 30px 23px 25px;
    
                    .row,
                    .col {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }


        .container {
            padding: 30px 23px 25px;
        }
    }



    // MEDIA QUERIES //

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .new-template {
            
            .banner {

                .container {
                    max-width: 768px;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }

            }

            .container {
                max-width: 768px;
            }
        }
    }

    @media screen and (min-width: 993px) and (max-width: 1999px) {
        .new-template {
            
            .banner {

                .container {
                    max-width: 993px;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }

            }

            .container {
                max-width: 993px;
            }
        }
    }


    @media screen and (min-width: 1200px) and (max-width: 1366px) {

        .new-template {
            
            .banner {

                .container {
                    max-width: 993px;
                    margin-left: auto !important;
                    margin-right: auto !important;
                }

            }

            .container {
                max-width: 993px;
            }
        }
    }
    
    @media screen and (min-width: 1367px)  {
        .new-template {
            
            .banner {

                .container {
                    max-width: 1200px;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    padding-left: 0 !important;
                    padding-right: 0 !important;
                }

            }

            .container {
                max-width: 1200px;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }


}