html {
    scroll-behavior: smooth;
}

$font: 'Poppins',
sans-serif;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semiBold: 600;
$f-bold: 700;

$blue:#004165;
$bluelight:#19A4C1;
$orange: #FFA100;
$white: #ffffff;
$cinza: #f1f1f1;
$grey: #BCBCBC;
$dark-grey: #7F7F7F;
$green-light:#689E16;
$orange-light:#F17844;
$blue-light:#3185B1;
$yellow:#B5EA66;

.new-template {
    * {
        font-family: $font;
    }

    $bg-grey: #E8E8E8;
    $dark-grey: #494F54;
    $light-grey: #7F7F7F;
    $soft-grey: #DEDEDE;
    $dark-orange: #D47500;

    /////////////////////////////////////////////////////
    // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
    .container-fluid {
        max-width: 100% !important;
        overflow: hidden !important;
        padding: 0;

        &.banner {
            height: 465px;
            padding: 0;
            margin: 0;

            .container {
                padding: 25px 20px;

                .row,
                .col {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .container {
        padding: 0 20px;
    }
    // ATÉ AQUI
    /////////////////////////////////////////////////////


    .btn {
        color: $white !important;
        padding: 10px 20px;
        background-color: $dark-orange !important;
        outline: none;
        border: none;
        width: 100%;
        text-align: center;
        border-radius: 10px;

        &:hover,
        &:focus,
        &:active,
        &:target,
        &:visited,
        &:link {
            background-color: $dark-orange !important;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }

    .banner {
        background: url("/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/paralaxe-mobile-v3.png") -63px 275px no-repeat;
        background-attachment: fixed;
        margin-bottom: 25px;

        h1 {
            font-weight: $f-semiBold !important;
            font-size: 16px;
            line-height: 25px;
            color: $dark-grey;

            span {
                font-weight: $f-bold;
                font-size: 23px;
                color: $dark-orange;
            }
        }

        .img-notebook {
            width: 204px;
            margin: -15px 50px 0 0;
        }

        .card {
            width: 277px;
            margin: 0 auto;
            border-radius: 10px;
            border: solid 1px $soft-grey;

            h5 {
                color: $dark-grey;
                font-weight: $f-semiBold;
                font-size: 16px;
                margin-bottom: 34px;
            }

            input {
                border: none;
                border-bottom: solid 1px $light-grey !important;
                font-size: 14px;
                font-weight: $f-medium;
                color: $light-grey;
                padding: 0 0 3px 0;
                margin-bottom: 30px;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .btn {
                font-size: 14px;
                text-align: left;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::after {
                    content: '';
                    display: block;
                    width: 17px;
                    height: 17px;
                    background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/white-arrow.png') center center no-repeat;
                }
            }
        }
    }

    h2 {
        font-weight: $f-bold !important;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 14px;
        color: $dark-orange;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-weight: $f-medium;
        color: $dark-grey;
    }

    .list-cta {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            padding: 56px 5px 0;
            margin: 0 0 20px 0;
            height: 150px;
            width: 150px;
            border: solid 1px $dark-orange;
            border-radius: 10px;
            font-weight: $f-semiBold;
            font-size: 16px;
            color: $dark-grey;
            line-height: 25px;

            &.ico-infinite {
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-infinite.png') 5px 25px no-repeat;
            }

            &.ico-renew {
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-renew.png') 12px 13px no-repeat;
            }

            &.ico-hierarchy {
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-hierarchy.png') 5px 18px no-repeat;
            }

            &.ico-dashboard {
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-dashboard.png') 5px 18px no-repeat;
            }
        }
    }

    .caas-video {
        padding: 0;
        overflow-x: hidden !important;
        
        video {
            width: 1200px;
            height: 300px;
            margin: 0 0 0 -370px;
        }
    }

    dl {
        padding: 0;

        dt {
            padding: 0 0 0 24px;
            margin-bottom: 2px;
            font-weight: $f-bold;
            font-size: 16px;
            color: $dark-grey;
            background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-checked.png') 0 2px no-repeat;


        }

        dd {
            font-weight: $f-medium;
            font-size: 16px;
            color: $dark-grey;
            padding: 0 0 0 24px;
            margin-bottom: 18px;
        }

    }

    .caas-bg-grey {
        background-color: $bg-grey;

        img {
            height: 80%;
        }

        h2 {
            margin-bottom: 16px;
        }

        p {
            color: $dark-orange;
        }

    }

    .caas-bg-degrade-orange {
        background: transparent linear-gradient(320deg, #FFA400 0%, #D47500 100%) 0% 0% no-repeat;
        padding: 30px 20px;
        text-align: center;

        h3 {
            color: $white;
            font-weight: $f-bold;
            font-size: 20px;
            text-align: center;
            margin-bottom: 32px;
        }

        input {
            border-radius: 10px;
            font-size: 13px;
            font-weight: $f-medium;
            color: #8A8A8A;
            padding: 10px 20px;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        p {
            color: $white;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 26px;
            text-align: left;
        }

        button {
            border: none;
            border-radius: 10px;
            outline: none;
            width: 150px;
            background-color: #C26B00;
            margin: 0 auto;
            font-size: 14px;

            &:focus,
            &:active {
                background-color: #C26B00;
                outline: none;
                border: none;
                box-shadow: none;
            }

        }
    }

    .cta-fixed {

        .btn {
            background-color: $dark-orange;
            font-size: 16px;
            font-weight: $f-semiBold;
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0;

            &::after {
                content: '';
                display: block;
                width: 17px;
                height: 17px;
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/white-arrow.png') center center no-repeat;
                margin-right: 1%;
            }
        }

        &.toogle-cta {
            display: none;
        }
    }
    

    ////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////

    @media screen and (min-width: 544px) {
        /////////////////////////////////////////////////////
        // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
        .banner {
            .container {
                max-width: 768px;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
        .container {
            max-width: 768px;
        }
        // ATÉ AQUI
        /////////////////////////////////////////////////////


        .banner {
            height: 400px;
            margin-bottom: 68px;
            padding-top: 30px;
            background: url("/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/paralax-desk.png") 0 377px no-repeat;
            background-attachment: fixed;
            background-size: contain;

            h1 {
                font-size: 20px;
                line-height: 45px;

                span {
                    font-size: 35px;
                }
            }

            .img-notebook {
                width: 290px;
                margin: 145px 0 0 -255px;
            }

            .card {
                width: 207px;
                margin: 15px 0 0 auto;

                h5 {
                    color: $dark-grey;
                    font-weight: $f-semiBold;
                    font-size: 16px;
                    margin-bottom: 34px;
                }

                input {
                    padding: 0 0 3px 0;
                    margin-bottom: 35px;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                button {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 12px 16px;

                    background-color: $dark-orange;
                    outline: none;
                    border: none;
                    width: 100%;
                    text-align: left;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &::after {
                        content: '';
                        display: block;
                        width: 17px;
                        height: 17px;
                        background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/white-arrow.png') center center no-repeat;
                        background-size: cover;

                        &:focus,
                        &:active {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 31px;
        }

        p {
            font-size: 18px;
            line-height: 30px;
        }

        video {
            width: 100% !important;
            height: auto !important;
            margin: 0 auto !important;
        }

        dl {
            padding: 0;

            dt {
                padding: 0 0 0 30px;
                margin-bottom: 2px;
                font-size: 21px;
                line-height: 30px;
                background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/ico-checked.png') 0 2px no-repeat;


            }

            dd {
                font-size: 18px;
                padding: 0 0 0 30px;
                line-height: 30px;
                margin-bottom: 18px;
            }

        }

        .caas-bg-grey {
            margin-bottom: 73px !important;

            img {
                height: 70%;
            }

            p {
                font-weight: $f-semiBold;
            }

        }

        .caas-bg-degrade-orange {
            background: transparent linear-gradient(295deg, #FFA400 0%, #E78C1D 44%, #D47500 100%) 0% 0% no-repeat;
            padding: 70px 20px;

            h3 {
                font-size: 25px;
                margin-bottom: 35px;
            }

            input {
                width: 444px;
                margin-left: auto;
                margin-right: auto;
                font-size: 14px;
                color: #8A8A8A;
                padding: 10px 20px;
            }

            p {
                width: 444px;
                margin-left: auto;
                margin-right: auto;
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 35px;
            }

            button {
                width: 167px;
                font-size: 16px;
                box-shadow: 5px 5px 8px -3px rgba(0,0,0,0.50);
                padding: 10px;
            }
        }
        
    }

    @media screen and (min-width: 993px) {
        /////////////////////////////////////////////////////
        // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
        .banner {
            .container {
                max-width: 993px;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
        .container {
            max-width: 993px;
        }
        // ATÉ AQUI
        /////////////////////////////////////////////////////

        .banner {
            height: 400px;
            margin-bottom: 68px;
            padding-top: 30px;
            background: url("/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/paralax-desk.png") 0 302px no-repeat;
            background-attachment: fixed;
            background-size: contain;

            h1 {
                font-size: 20px;
                line-height: 45px;

                span {
                    font-size: 35px;
                }
            }

            .img-notebook {
                width: 480px;
                margin: 55px 0 0 -255px;
            }

            .card {
                width: 207px;
                margin: 15px 0 0 auto;

                h5 {
                    color: $dark-grey;
                    font-weight: $f-semiBold;
                    font-size: 16px;
                    margin-bottom: 34px;
                }

                input {
                    padding: 0 0 3px 0;
                    margin-bottom: 35px;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

                button {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 12px 16px;

                    background-color: $dark-orange;
                    outline: none;
                    border: none;
                    width: 100%;
                    text-align: left;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    &::after {
                        content: '';
                        display: block;
                        width: 17px;
                        height: 17px;
                        background: url('/on/demandware.static/-/Sites-CERTISIGN-BR-Library/default/dw1d62c41a/images/Landing/lpcaas/white-arrow.png') center center no-repeat;
                        background-size: cover;

                        &:focus,
                        &:active {
                            outline: none;
                            border: none;
                            box-shadow: none;
                        }
                    }
                }
            }
        }

        .list-cta {
            li {
                padding: 56px 20px 0;
                margin: 0 0 20px 0;
                width: 207px;
                height: 165px;
                font-size: 16px;
                line-height: 25px;

                &.ico-infinite {
                    background-position:20px 25px;
                }

                &.ico-renew {
                    background-position: 22px 13px;
                }

                &.ico-hierarchy {
                    background-position: 22px 18px;
                }

                &.ico-dashboard {
                    background-position: 20px 18px;
                }
            }
        }

        video {
            width: auto;
            height: 100%;
            margin: 0 auto;
        }

    }

    @media screen and (min-width: 1367px) {
        ///////////////////////////////////////////////////// 
        // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
        .banner {
            .container {
                max-width: 1200px;
                margin-left: auto !important;
                margin-right: auto !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
        .container {
            max-width: 1200px;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        // ATÉ AQUI
        /////////////////////////////////////////////////////

    }

}