html {
    scroll-behavior: smooth;
}

$font: 'Poppins',
sans-serif;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semiBold: 600;
$f-bold: 700;

.new-template {

    &.new-home {

        * {
            font-family: $font;
        }

        $white: #ffffff;
        $link: #0645AD;
        $blue:#004165;
        $orange: #FFA100;
        $dark-orange: #D47500;
        $grey: #6F7178;
        $medium-grey: #7F7F7F;
        $dark-grey: #494F54;

        $bg-grey: #E8E8E8;
        $bg-light-grey: #F6F6F8;
        $hover-btn: #d1d1d1;

        background-color: $white;


        .color-blue {
            color: $blue;
        }

        .color-grey {
            color: $grey;
        }

        .color-medium-grey {
            color: $medium-grey;
        }

        .color-dark-grey {
            color: $medium-grey;
        }


        /////////////////////////////////////////////////////
        // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
        .container-fluid {
            max-width: 100% !important;
            overflow: hidden !important;
            padding: 0;

            &.banner {
                height: unset;
                background: none;
            }

        }

        .container {
            padding: 0 20px;
        }

        // ATÉ AQUI
        /////////////////////////////////////////////////////


        
        a {
            font-size: 14px;
            color: $link;
            font-weight: $f-semiBold;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        h1 {
            font-weight: $f-bold;
            font-size: 20px;
            line-height: 25px;
        }

        h2 {
            font-weight: $f-bold;
            font-size: 18px;
            line-height: 22px;
        }

        h3 {
            font-weight: $f-bold;
            font-size: 16px;
            line-height: 20px;
        }

        p {
            font-weight: $f-medium;
            font-size: 14px;
            line-height: 20px;
        }

        .btn {
            color: $white !important;
            background-color: $blue !important;
            font-size: 16px;
            line-height: 16px;
            padding: 10px 20px;
            outline: none;
            border: none;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            text-decoration: none;

            &:hover {
                background-color: $orange !important;
            }

            &:focus,
            &:active,
            &:target,
            &:visited,
            &:link {
                background-color: unset;
                outline: none;
                border: none;
                box-shadow: none;
            }
        }

        .bg-grey {
            background-color: $bg-grey;
        }

        .bg-light-grey {
            background-color: $bg-light-grey;
        }

        .bg-degrade-grey {
            background: rgb(206, 207, 205);
            background: linear-gradient(90deg, rgba(206, 207, 205, 1) 0%, rgba(233, 233, 233, 1) 50%);
        }

        .banner {
            margin-bottom: 37px;
        }

        .box-list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-auto-rows: 145px;
            grid-gap: 20px;

            grid-template-areas: 
            'box-1 box-2'
            'box-3 box-4'
            'box-5 box-5';

            .box-1 {
                grid-area: box-1;
            }
            .box-2 {
                grid-area: box-2;
            }
            .box-3 {
                grid-area: box-3;
            }
            .box-4 {
                grid-area: box-4;
            }
            .box-5 {
                grid-area: box-5;
            }

            li {
                padding: 14px 10px;
                border: solid 1px $blue;
                border-radius: 10px;
                font-weight: $f-medium;
                color: $blue;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                overflow: hidden;

                strong {
                    font-weight: $f-bold;
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }

            .bg-blue {
                display: flex;
                flex-direction: column;
                justify-content: center;

                * {
                    color: $white;
                }

                background-color:$blue;

                h1 {
                    font-weight: $f-bold;
                    font-size: 36px;
                    line-height: 32px;
                    margin-bottom: 10px;

                    span {
                        margin-left: 15px;
                    }
                }

                p {
                    font-weight: $f-semiBold;
                    font-size: 16px;
                    line-height: 27px;
                    margin-bottom: 0;
                }

            }
        }

        .dinheiro {
            img {
                display: block;
                width: 100%;
                margin: 40px auto 20px;
                -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
                box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
            }

            p {
                font-weight: $f-semiBold;
            }
        }

        .certistore {
            h1 {
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $f-semiBold;
                }
            }

            .img-certistore {
                display: block;
                width: 160px;
                margin: 10px auto 30px;

            }

            .icones {
                display: block;
                height: 28px;
                margin: 40px 0 20px;
            }

            .crop {
                width: 165px;
                height: 305px;
                object-fit: cover;

                &.cel-1 {
                    object-position: 0 0;
                }

                &.cel-2 {
                    object-position: 49% 0;
                }

                &.cel-3 {
                    object-position: 99% 0;
                }
            }

        }

        .box-img-2-sizes {
            img {
                width: 188px;
                display: block;
                margin: 0 auto 15px;
            }

            h2 {
                font-size: 16px;
            }

        }

        .hist-sucesso {
            .slider-content {
                max-width: 510px;
                margin: 0 auto;

                h1 {
                    font-size: 16px;
                    line-height: 20px;
                    padding: 8px;
                    text-align: center;
                    border: solid 2px $dark-grey;
                    margin-bottom: 37px;

                    strong {
                        font-size: 20px;
                        font-weight: $f-bold;
                    }
                }

                .carousel-counter {
                    max-width: 400px;
                    margin: 0 auto;

                    .owl-item {
                        color: $medium-grey;
                        text-align: center;
                        font-size: 14px;
                        line-height: 20px;

                        img {
                            display: inline-block;
                            margin-bottom: 30px;
                            width: auto;
                            height: 80px;
                        }
                    }

                    .owl-nav {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 auto -23px;
                        max-width: 240px;

                        .owl-prev,
                        .owl-next {
                            display: inline-block;
                            width: 80px;
                            height: 21px;
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            color: transparent;
                            font-size: 0;
                        }

                        .owl-prev {
                            background-image: url('../images/arrow-left.png');
                        }

                        .owl-next {
                            background-image: url('../images/arrow-right.png');
                        }
                    }
                }

                .slider-counter {
                    text-align: center;
                    letter-spacing: 5px;
                }
            }
        }

        .great-place {

            .bg-gptw {
                position: relative;

                :nth-child(1) {
                    width: 250px;
                    margin: 20px 0 0 40px;
                }

                :nth-child(2) {
                    position: absolute;
                    height: 87px;
                    top: 70px;
                    left: 260px;
                }
            }

            .bg-grey {
                padding: 14px 40px 20px;

                h1 {
                    color: $dark-grey;
                    background: rgba(250, 250, 250, .8);
                    width: 120%;
                    padding: 7px 0;
                    margin: -63px 0 30px -40px;
                }

                h3 {
                    color: $dark-grey;
                }

                p {
                    color: $grey;
                    font-weight: $f-semiBold;
                }
            }
        }

        .form-nova-home {
            overflow: visible !important;
            background: $blue;
            padding: 30px 0 20px;
            margin-top: 75px;

            h1 {
                font-size: 30px;
                line-height: 22px;
                font-weight: $f-bold;
                color: $blue;
                margin: -50px 0 20px 100px;
                position: relative;

                span {
                    display: block;
                    color: $white;
                }

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -20px;
                    left: 82px;
                    width: 36px;
                    height: 31px;
                    background: url('../images/ico-balao.png') center center no-repeat;
                    background-size: contain;
                }
            }
    
            h3 {
                color: $white;
                font-weight: $f-medium;
                font-size: 16px;
                line-height: 23px;
            }
    
            input {
                border-radius: 5px;
                font-size: 14px;
                font-weight: $f-medium;
                color: $grey;
                padding: 10px 20px;
    
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
    
            button {
                font-size: 14px;
                font-weight: $f-semiBold;
                width: 130px;
                padding: 10px;
                background-color: $orange !important;
                border: none;
                border-radius: 10px;
                outline: none;
                display: block;
                margin: 0 auto;
    
                &:focus,
                &:active {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
    
            }
        }


        ////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////

        @media screen and (min-width: 544px) {

            /////////////////////////////////////////////////////
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 768px;
            }

            // ATÉ AQUI
            /////////////////////////////////////////////////////

            
            a {
                font-size: 16px;
            }

            h1 {
                font-size: 35px;
                line-height: 45px;
            }

            h2 {
                font-size: 25px;
                line-height: 30px;
            }

            h3 {
                font-size: 18px;
                line-height: 22px;
            }

            p {
                font-size: 18px;
                line-height: 23px;
            }

            .banner {
                margin-bottom: 65px;

                .owl-dot {
                    span {
                        width: 15px;
                        height: 15px;
                        margin-top: 10px;
                        background-color: transparent;
                        border: solid 1px $blue;
                    }

                    &.active {
                        span {
                            background-color: $blue !important;
                        }
                    }
                }
            }

            .dinheiro {

                img {
                    width: 70%;
                    margin-top: 60px;
                }

                h1,
                p {
                    padding: 0 135px;
                }

                p {
                    line-height: 30px;
                }
            }

            .certistore {
                h1 {
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: $f-bold;
                    margin-bottom: 50px;

                    span {
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                }

                .img-certistore {
                    width: 230px;
                }

                .display-adapta {
                    display: flex;
                    max-width: 720px;
                    margin: -120px auto 40px;

                    .row {
                        col {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    .icones {
                        height: 52px;
                        margin: 40px auto 30px;
                    }

                    .crop {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 192px;
                        height: 375px;

                        &.cel-1 {
                            object-position: 0 0;
                        }

                        &.cel-2 {
                            object-position: 49% 0;
                            margin-top: 110px;
                        }

                        &.cel-3 {
                            object-position: 99% 0;
                        }
                    }

                    .btn {
                        width: 132px;
                        padding: 15px;
                    }

                    .fix-mr {
                        margin-left: 25px;
                    }
                }
            }

            .box-img-2-sizes {
                img {
                    width: 100%;
                    display: block;
                    margin: 0;
                }

                h1 {
                    font-size: 20px;
                    line-height: 25px;
                    font-weight: $f-semiBold;
                }

                h2 {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: $f-semiBold;
                }

                p {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: $f-medium;
                }

                a {
                    font-size: 14px;
                }
            }

            .hist-sucesso {
                .slider-content {
                    max-width: 510px;

                    h1 {
                        font-size: 25px;
                        line-height: 32px;

                        strong {
                            font-size: 35px;
                        }
                    }

                    .carousel-counter {
                        .owl-item {
                            font-size: 18px;
                            line-height: 22px;

                            img {
                                height: 100px;
                            }
                        }
                    }
                }
            }

            .great-place {

                .bg-grey {
                    padding: 0 40px 0 0;
                    background: unset;

                    h1 {
                        background: unset;
                        width: auto;
                        padding: unset;
                        margin: 20px 0 10px;
                        font-weight: $f-semiBold;
                        font-size: 20px;
                        line-height: 24px;
                        color: $grey;
                    }

                    h3 {
                        color: $dark-grey;
                    }

                }
            }

            .form-nova-home {
                padding-bottom: 40px;

                h1 {
                    margin-left: 110px;
                }
    
                h3 {
                    width: 510px;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                input {
                    width: 510px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

        }

        @media screen and (min-width: 993px) {

            /////////////////////////////////////////////////////
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 993px;
            }

            // ATÉ AQUI
            /////////////////////////////////////////////////////

            .bg-degrade-grey {
                background: rgb(200, 201, 198);
                background: linear-gradient(90deg, rgba(200, 201, 198, 1) 0%, rgba(240, 240, 240, 1) 50%);
            }

            .box-list {
                grid-template-columns: repeat(3, 3fr);
                grid-auto-rows: 175px;
                grid-gap: 30px;
    
                grid-template-areas: 
                'box-1 box-2 box-5'
                'box-3 box-4 box-5';
    
                li {
                    padding: 14px 18px;
                    font-weight: $f-semiBold;
                    font-size: 18px;
                    line-height: 25px;
                    color: $medium-grey;
                    text-align: left;


                    span,
                    strong {
                        color: $blue;
                        font-weight: $f-bold;
                    }
    
                    strong {
                        font-weight: $f-bold;
                        display: inline-block;
                        margin-bottom: 5px;
                    }

                    strong {
                        display: inline-block;

                        margin-bottom: 20px;
                    }

                    .big-text {
                        font-size: 35px;
                        line-height: 42px;
                    }
                }
    
                .bg-blue {
                    text-align: center;
                    justify-content: center;
    
                    h1 {
                        font-weight: $f-bold;
                        font-size: 54px;
                        line-height: 100px;
                        margin-bottom: 10px;

                        span {
                            margin-left: 0;
                            display: block;
                        }
                    }

                    p {
                        font-weight: $f-semiBold;
                        font-size: 18px;
                        line-height: 25px;
                    }
    
                }
            }

            .box-img-2-sizes {
                img {
                    height: 100%;
                    width: auto;
                }

                h1 {
                    font-size: 35px;
                    line-height: 45px;
                }

                h2 {
                    font-size: 25px;
                    line-height: 35px;
                    font-weight: $f-semiBold;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: $f-medium;
                }

                a {
                    font-size: 16px;
                }
            }

            .hist-sucesso {
                .slider-content {
                    max-width: 670px;
                }
            }

            .great-place {

                .bg-gptw {

                    :nth-child(1) {
                        width: auto;
                        margin: 105px 0 0;
                    }

                    :nth-child(2) {
                        height: auto;
                        top: 160px;
                        left: 380px;
                    }
                }

                .bg-grey {
                    padding: unset;

                    h1 {
                        margin: 120px 0 10px;
                    }

                    h3:nth-of-type(1n) {
                        font-size: 35px;
                        line-height: 45px;
                    }

                    h3:nth-of-type(2n) {
                        font-size: 25px;
                        line-height: 30px;
                    }

                    p {
                        font-size: 25px;
                        line-height: 32px;
                    }
                }
            }

            .form-nova-home {
                margin-top: 110px;

                form {
                    display: flex;
                    align-items: center;
                }

                h1 {
                    font-size: 40px;
                    line-height: 32px;
                    margin: -61px 0 20px 0;
    
                    &::after {
                        top: -30px;
                        left: 115px;
                        width: 56px;
                        height: 49px;
                    }
                }                
    
                h3 {
                    width: unset;
                    margin: unset;
                    font-size: 18px;
                    line-height: 23px;
                    text-align: left;
                }
    
                input {
                    width: auto;
                }
    
                button {
                    display: block;
                    margin: 0 0 0 auto;

                    &:hover {
                        background-color: $hover-btn !important;
                    }
                }
            }
        }

        @media screen and (min-width: 1366px) {

            ///////////////////////////////////////////////////// 
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 1200px;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            // ATÉ AQUI
            /////////////////////////////////////////////////////


            /* .list-box {

                li {
                    width: 372px;
                }
            } */

            .certistore {
                .display-adapta {
                    min-width: 980px;

                    .fix-mr {
                        margin-left: 70px;
                    }
                }
            }

            .dinheiro {

                h1,
                p {
                    padding: 0 180px;
                }
            }

            .hist-sucesso {
                .slider-content {
                    max-width: 845px;
                }
            }

            .form-nova-home {
                input {
                    width: 420px;

                }
            }
        }
    }

}