html {
    scroll-behavior: smooth;
}

$font: 'Poppins',
sans-serif;

$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semiBold: 600;
$f-bold: 700;

.new-template {

    &.new-home {

        * {
            font-family: $font;
        }
        $white: #ffffff;
        $blue:#004165;
        $orange: #FFA100;
        $dark-orange: #D47500;
        $grey: #6F7178;
        $medium-grey: #494F54;
        $dark-grey: #7F7F7F;
        $bg-grey: #E8E8E8;

        background-color: $white;


        .color-blue {
            color: $blue;
        }
        .color-grey {
            color: $grey;
        }
        .color-medium-grey {
            color: $medium-grey;
        }
        .color-dark-grey {
            color: $medium-grey;
        }
        
    
        /////////////////////////////////////////////////////
        // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
        .container-fluid {
            max-width: 100% !important;
            overflow: hidden !important;
            padding: 0;
    
        }
        .container {
            padding: 0 20px;
        }
        // ATÉ AQUI
        /////////////////////////////////////////////////////
    
        h1 {
            font-weight: $f-bold;
            font-size: 20px;
            line-height: 25px;
        }

        h2 {
            font-weight: $f-bold;
            font-size: 16px;
            line-height: 22px;
        }

        p {
            font-weight: $f-medium;
            font-size: 14px;
            line-height: 20px;
        }

        .btn {
            color: $white !important;
            background-color: $blue !important;
            font-size: 16px;
            line-height: 16px;
            padding: 10px 20px;
            outline: none;
            border: none;
            width: 100%;
            text-align: center;
            border-radius: 10px;
    
            &:hover {
                background-color: $orange !important;
            }
            &:focus,
            &:active,
            &:target,
            &:visited,
            &:link {
                background-color: unset;
                outline: none;
                border: none;
                box-shadow: none;
            }
        }
    
        .list-cta {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            li {
                padding: 14px 10px;
                margin: 0 0 20px 0;
                width: 150px;
                height: 150px;
                border: solid 1px $blue;
                border-radius: 10px;
                font-weight: $f-medium;
                color: $blue;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                overflow: hidden;

                strong {
                    font-weight: $f-bold;
                    display: inline-block;
                    margin-bottom: 5px;
                }
            }
        }

        .box {
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            
            &.bg-blue {
                * {
                    color: $white;
                }
                background-color:$blue;

                h1 {
                    font-weight: $f-bold;
                    font-size: 36px;
                    line-height: 32px;
                    margin-bottom: 10px;

                    span {
                        margin-left: 15px;
                    }
                }

                p {
                    font-weight: $f-semiBold;
                    font-size: 16px;
                    line-height: 27px;
                }

            }
        }

        .bg-grey {
            background-color: $bg-grey;
        }
        
        .dinheiro {
            background: rgb(208,213,207);
            background: linear-gradient(125deg, rgba(208,213,207,1) 0%, rgba(221,221,221,1) 50%); 

            img {
                display: block;
                width: 100%;
                margin: 40px auto 20px;
                -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3); 
                box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.3);
            }

            p {
                font-weight: $f-semiBold;
            }
        }

        .certistore {
            h1 {
                span {
                    display: block;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: $f-semiBold;
                }
            }

            .img-certistore {
                display: block;
                width: 160px;
                margin: 10px auto 30px;

            }

            .icones {
                display: block;
                height: 28px;
                margin: 40px 0 10px;
            }
            
            .crop {
                width: 165px;
                height: 305px;
                object-fit: cover;
                &.cel-1 {
                    object-position: 0 0;
                }
                &.cel-2 {
                    object-position: 49% 0;
                }
                &.cel-3 {
                    object-position: 99% 0;
                }
            }

        }





    
        // CARROSSEL NUMERADO
        .carousel-counter {
            .owl-item {
                background-color: #D2527F;
                color: white;
                text-align: center;
                padding: 100px 0;
            }
    
            .owl-prev,
            .owl-next {
                display: inline-block;
            }
    
            .owl-next {
                float: right;
            }
    
            .slider-counter {
                text-align: center;
            }
    
            .info {
                text-align: center;
                margin-top: 110px;
            }
        }
    
    
        ////////////////////////////////////// MEDIA QUERIES //////////////////////////////////////
    
        @media screen and (min-width: 544px) {
    
            /////////////////////////////////////////////////////
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 768px;
            }
            // ATÉ AQUI
            /////////////////////////////////////////////////////
    
            h1 {
                font-size: 35px;
                line-height: 45px;
            }
    
            h2 {
                font-size: 18px;
                line-height: 32px;
            }
    
            p {
                font-size: 18px;
                line-height: 23px;
            }

            .banner {
                .owl-dot {
                    span {
                        width: 15px;
                        height: 15px;
                        background-color: transparent;
                        border: solid 1px $blue;
                    }

                    &.active {
                        span {
                            background-color: $blue !important;
                        }
                    }
                }
            }

            .dinheiro {
                height: 600px;
                
                img {
                    width: 70%;
                    margin-top: 60px;
                }

                h1, p {
                    padding: 0 135px;
                }
                p {
                    line-height: 30px;
                }
            }

            .certistore {
                h1 {
                    font-size: 25px;
                    line-height: 30px;
                    font-weight: $f-bold;
                    margin-bottom: 50px;
                    span {
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                }

                .img-certistore {
                    width: 230px;
                }

                .display-adapta {
                    display: flex;
                    max-width: 720px;
                    margin: -120px auto 40px;

                    .row {
                        col {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    .icones {
                        height: 52px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .crop {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 192px;
                        height: 375px;
                        &.cel-1 {
                            object-position: 0 0;
                        }
                        &.cel-2 {
                            object-position: 49% 0;
                            margin-top: 110px;
                        }
                        &.cel-3 {
                            object-position: 99% 0;
                        }
                    }

                    .btn {
                        width: 132px;
                        padding: 15px;
                    }

                    .fix-mr {
                        margin-left: 25px;
                    }
                }
            }
    
        }
    
        @media screen and (min-width: 993px) {
    
            /////////////////////////////////////////////////////
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 993px;
            }
            // ATÉ AQUI
            /////////////////////////////////////////////////////
    
            .list-cta {
        
                li {
                    padding: 14px 18px;
                    margin: 0 0 20px 0;
                    width: 286px;
                    height: 173px;
                    font-weight: $f-semiBold;
                    color: $medium-grey;
                    font-size: 18px;
                    line-height: 25px;
                    text-align: left;
    
                    span, strong {
                        color: $blue;
                        font-weight: $f-bold;
                    }

                    strong {
                        display: inline-block;
                        
                        margin-bottom: 20px;
                    }

                    .big-text {
                        font-size: 35px;
                        line-height: 42px;
                    }

                }
            }
    
            .box {
                padding: 40px;
                min-height: 95%;
                max-height: 95%;
                overflow: hidden;
                
                &.bg-blue {
                    h1 {
                        font-weight: $f-bold;
                        font-size: 54px;
                        line-height: 100px;
                        margin-bottom: 10px;
    
                        span {
                            margin-left: 0;
                            display: block;
                        }
                    }
    
                    p {
                        font-weight: $f-semiBold;
                        font-size: 18px;
                        line-height: 25px;
                    }
    
                }
            }

        }
    
        @media screen and (min-width: 1367px) {
    
            ///////////////////////////////////////////////////// 
            // NOVAS DEFINIÇÕES DE BREAKPOINTS, NÃO ALTERAR DAQUI...
            .container {
                max-width: 1200px;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            // ATÉ AQUI
            /////////////////////////////////////////////////////
            .list-cta {
        
                li {
                    width: 370px;
                }
            }

            .certistore {
                .display-adapta {
                    min-width: 980px;
    
                    .fix-mr {
                        margin-left: 70px;
                    }
                }
            }

        }
    }


}